
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.work-header a{
    color: #fff;
}

.job-seekers-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 6px 12px;
}
.job-seekers-right ul li{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 6px 10px;
    width: 288px;
    margin-top: 12px;
    border-bottom: 1px solid #c5c5c5;
    border-top: 1px solid #c5c5c5;
    outline: none;
    cursor: pointer;
    border-radius: 16px;
}
ul span{
    width: fit-content;
    font-size: 12px;
   color: blanchedalmond;
   background-color: rgb(71, 71, 71);
   padding: 2px 4px;
   border-radius: 10px;
}
ul li a{
    text-decoration: none;
   
}

.main-form-section{
    column-gap: 10px;
    padding: 0px 14px;
    justify-content: center;
    
    
}

.job-seekers-section{      
    column-gap: 40px;
    margin-top: 6px;     
    display: flex;
    flex-wrap: wrap;    
    width: 100%;   
    justify-content: space-between;
   

}

.job-employers-section {
 width: 288px;
 margin-top: 6px;
 margin-bottom: 12px;
}
.job-employers-section h4{
    border-bottom: 1px solid rgb(197, 197, 197);
    margin-bottom: 6px;
    width: 245px;
    padding-bottom: 3px;
}
/*new*/
.job-employers-section h3{
    text-align: center;
}

.job-seekers-form{
    margin-top: 10px;
    
}
/*new*/
.job-seekers-form p{
    width: 288px;
    padding-bottom: 10px;
    color: blue;
}
 form input{
    display: flex;  
    flex-direction: column;
    justify-content: center;
    width: 288px;
    padding: 6px 12px;    
    margin-top: 6px;
    margin-bottom: 3px;
     list-style: none;
    font-size: 14px;  
     border: 1px solid #dadada;
   background-color: transparent;
     outline: none;   
     outline: none;
     cursor: pointer;
    
}

.form-btn{
    width:288px;
    padding: 6px;
    cursor: pointer;
    background-color: black;
    color: white;
    border: none;
    outline: none;
    margin-bottom: 20px;
    margin-top: 6px;
}
.absolute{
    position: absolute;
    top: 200px;    
    left: 50%;
    transform: translateX(-50%);
    height: 100vh;
    background-color: rgba(214, 214, 214, 0.2);
    padding: 6px;
}
.absolute h2{
    text-align: center;
    margin-bottom: 6px;
    color: blue;
}
.absolute .logo{
    padding-left: 155px;
}
.mobile_back{
    display: none;
    height: fit-content;
    margin-top: 6px;
    padding: 3px;
    border-radius: 6px;
    background-color: rgb(32, 32, 32);
}
.mobile_back a{
    text-decoration: none;
    color: #fff;
    
   
}

@media (max-width: 618px){
    .job-seekers-section{
        justify-content: center;
    }
    .absolute{
        display: none;
    }
    .left_logo{
        display: none;
    }
    .mobile_back{
        display: block;        
        margin-right: 4px;
        text-decoration: none;
        border: 1px solid blue;
    }
}