.header-wraper{
    width: 100%;
    display: grid;
    grid-template-columns: 0.8fr 2fr 0.4fr;     
   margin: 2px 0;
   box-shadow: 
   rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
     rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 5px 13px,
       rgba(0, 0, 0, 0.09) 0px -3px 5px;
   padding: 0 6px; 
}
.nav-center{
    justify-content: space-between;
    display: flex;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    border-bottom: 1px solid grey;
    padding-bottom: 20px;
    
}

.left-nav-bar{    
    grid-row-start: 1;
    grid-row-end: 5;  
    font-weight: 600;
    
}
 .last-p{    
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(4, 4, 230);
}

.nav-center{
    justify-content: space-between;
    display: flex;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    border-bottom: 1px solid grey;
    padding-bottom: 20px;
    left: 50%;
}
.nav-center p a{
   color: blue; 
    text-decoration: none;
}
.nav-center a{
    text-decoration: none;
    color: #fff;
}

.contact{
    margin-top: 20px;
    text-align: center;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    font-weight: 600;
    font-size: 25px;
}

.upper-right-nav{
   
    display: flex;
    grid-column-start: 3;
    grid-column-end: 4;
    justify-content: center;
}
.horizon{
    padding-left: 12px;
}

.job-seekers a,
.employers a
{
    color: #fff;
    text-decoration: none;
}


@media (max-width: 842px){
    .header-wraper{
        padding: 0;
        margin:  0;        
        border-bottom: 2px solid rgb(128, 128, 128);
        border-top: 2px solid rgb(128, 128, 128);
        box-shadow: none;
    }
  .logo-main img{
    width: 60px;
  }
  
    .upper-right-nav{
        display: none;
    }
}
@media(max-width:830px){
    .nav-center
     {
        display: none;
    }
}

