.locations{ 
    position: relative;
    display: flex;
    margin-left: 64px;
    margin-right: 64px;
    justify-content: space-between; 
   
    
}
.jobs{
    display: none;
}
.centre, .locations ul, .search_jobs_left{
   
    width: 33%;
}

.locations li{
    list-style: none;
    width: 100%;
    background: rgb(80, 80, 238);
    padding: 20px 16px;
    margin-top: 30px;     
    justify-content: center;
    text-align: center;
    cursor: pointer;
}
.locations li:hover{
    background-color: #000000;
    color: #fff;
    
}
li a{
    text-align: center;
}
.locations li a{
   text-decoration: none;
   color: #fff;
   text-align: center;
   
}

.search{
    margin: 20px 64px;
    text-align: center;
    color: rgb(19, 19, 231);
    font-size: 28px;
    
}

@media (max-width: 1000px){
    .locations{
        
        margin-left: 0px;
        margin-right: 0px;
    }
    .locations ul{
        width: 100%;
    }
    .locations li{
       
    }
    .search_jobs_left{
        display: none;
    }
    .centre{
        display: none;
    }

    body{
        padding: 0 10px;
    }
    .jobs{
        display: block;
    } 
}